<div class="container mt-4 mb-4">
  <h5 class="text-dark bg-light p-4 mb-0">投稿を編集</h5>
  <div class="form-body p-4">
    <% if @post.errors.any? %>
      <%= @post.errors.count %>件のエラーが発生しました
      <ul>
        <% @post.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    <% end %>
    <div class="row">
      <div class="col-md-5 offset-1 ">
        <%= image_tag @post.get_image(400, 400) %>
      </div>
      <div class="col-md-6">
        <%= form_with model: @post do |f| %>
          <div class="input-group mb-3 mt-4">
            <div class="input-group-prepend">
              <span class="input-group-text" aria-hidden="true"><i class="fa-solid fa-seedling"></i></span>
            </div>
            <%= f.text_field :creature_name, class:'form-control', placeholder: "生き物の名前" %>
          </div>
          <%= f.text_area :caption, rows: "3", class:'form-control', placeholder: "コメントここに" %>
          <%= f.submit '更新', class:"btn btn-lg btn-block btn-success mt-4" %>
        <% end %>
      </div>

    </div>
  </div>
</div>