<div class="container py-3">
  <h4 style="color: #806E40; border-bottom: 2px solid #806E40;" >みんなの生き物</h4>
  <div class="d-flex justify-content-center justify-content-md-around py-4 px-md-3 flex-wrap" style="background-color: #F6F4EA;">
    <% @posts.each do |post| %>
      <div>
        <%= link_to post_path(post.id) do %>
          <%= image_tag post.get_image(240,240) %>
          <h5><%= post.creature_name %></h5>
        <% end %>
      </div>
    <% end %>
  </div>
  <%= paginate @posts %>
</div>
<div id="map"></div>
<script>
let map;
async function initMap() {
  console.log("マップ生成開始")
  const { Map } = await google.maps.importLibrary("maps");

  map = new Map(document.getElementById("map"), {
    center: { lat: 34.6648863, lng: 133.916252 },
    zoom: 15,
    mapTypeControl: true
  });
}
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=<%= Rails.application.credentials[:googlemaps][:api_key]%>&callback=initMap" async defer></script>