<div class="container py-3">
  <h4 style="color: #806E40; border-bottom: 2px solid #806E40;" >みんなの投稿</h4>
  <div class="py-4 px-md-3 d-flex align-items-center flex-column-reverse">
    <% @posts.each do |post| %>
      <div class="mb-5">
        <%= link_to post_path(post.id) do %>
          <div class="card" style="width: 18rem;">
            <%= image_tag post.get_image(400,400), class:"bd-placeholder-img card-img-top", width:"100%" %>
            <div class="card-body">
              <h5 class="card-title"><%= post.creature_name %></h5>
              <p class="card-text"><%= post.address %></p>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
  <%= paginate @posts %>
</div>