<div class="container mt-4 mb-4">
  <h5 class="bg-light p-4 mb-0" style="color: #806E40; border-bottom: 2px solid #806E40;">画像投稿フォーム</h5>
  <div class="form-body p-4">
    <% if @post.errors.any? %>
      <%= @post.errors.count %>件のエラーが発生しました
      <ul>
        <% @post.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    <% end %>
    <div class="row">
      <div class="col-md-6 mb-5">
       <%= form_with model: @post do |f| %>
          <!-- ファイルのアップロードフォーム  -->
          <%= f.file_field :image, id: "file-input", accept: "image/*", class: "w-100" %>
          <div class="input-group mt-4">
            <%= f.date_field :discover_date, class:"form-control", id:"discover-date" %>
          </div>

          <div class="input-group mb-3 mt-4">
            <div class="input-group-prepend">
              <span class="input-group-text" aria-hidden="true"><i class="fa-solid fa-seedling"></i></span>
            </div>
            <%= f.text_field :creature_name, class:'form-control', placeholder: "生き物の名前" %>
          </div>
          <%= f.text_area :caption, rows: "3", class:'form-control', placeholder: "コメントここに" %>
          <hr>

          <h6 class="text-dark bg-light p-2 mb-1">見つけた場所を地図上でクリックしよう</h6>

          <div class="input-group mb-3 mt-4">
            <div class="input-group-prepend">
              <span class="input-group-text" aria-hidden="true"><i class="fa-solid fa-location-dot"></i></span>
            </div>
            <%= f.text_field :address, id:"address", class:'form-control', placeholder: "地図上をクリックすると自動入力されます" %>
          </div>

          <div class="row">
            <div class="col-6">
              <%= f.label :latitude, '緯度' %>
              <%= f.number_field :latitude, id:"lat-input", class:'form-control', step: "0.00000000000000001" %>
            </div>
            <div class="col-6">
              <%= f.label :longitude, '経度' %>
              <%= f.number_field :longitude, id:'lng-input', class:'form-control', step: "0.00000000000000001" %>
            </div>
          </div>
          <%= f.submit '投稿', class:"btn btn-lg btn-success btn-block mt-4" %>
        <% end %>
      </div>
      <div class="col-md-6">
        <div class="row">
          <div class="col-6">
            <div class="input-group">
              <input type="text" class="form-control" id="keyword" placeholder="地図を検索">
              <button id="search" class="btn" type="button" >
                <i class="fas fa-search"></i>検索
              </button>
            </div>
          </div>

        </div>
        <div id="map"></div>
      </div>
    </div>
  </div>
</div>
<%= javascript_pack_tag 'map', 'data-turbolinks-track': 'reload' %>
<%= javascript_pack_tag 'exif', 'data-turbolinks-track': 'reload' %>