<div class="container">
  <div class="row">
    <div class="shadow-lg mx-auto my-4 px-0">        
      <div class="py-2 ml-2">
          <%= image_tag @post.user.get_profile_image(50,50), class:'rounded-circle mr-3'%><strong style="font-size: 20px;"><%= @post.user.name %></strong>
      </div>
      <div id="map">
      </div>
      <div class="row mt-3">
        <div class="col-10 offset-1">
          <p>
            <i class="fa-regular fa-calendar-days" aria-hidden="true"></i><span>  <%= @post.created_at.strftime('%Y/%m/%d') %></span>
          </p>          
          <p>
            <i class="fa-solid fa-location-dot" aria-hidden="true"></i><span> <%= @post.address %></span>
          </p>
          <div class="row">
            <div class="col-1">
              <i class="fa-solid fa-envelope-open" aria-hidden="true"></i>
            </div>
            <div class="col-11 p-0">
              <%= @post.caption %>
            </div>            
          </div>
          <div class="py-3">
            <span id="comment_count"><%= render 'post_comments/count', post: @post %></span>
            <span id="favorite_btn_<%= @post.id %>">
              <%= render 'favorites/favorite-btn', post: @post %>
            </span>            
          </div>

        </div>
      </div>
      <div class="row">
        <div class="col-10 mx-auto">
          <% if @post.user == current_user %>
            <%= link_to "編集", edit_post_path(@post), class:"btn btn-success" %>
            <%= link_to "削除", post_path(@post), method: :delete, data: { confirm: "投稿を削除してもよろしいですか？" }, class:"btn btn-danger"%>
          <% end %>
        </div>

      </div>
      <!--コメント投稿欄-->
      <div class="row my-3">
        <div class="col-10  mx-auto ">
          <%= form_with model: [@post, @post_comment], local: false do |f| %>
            <div>
              <%= f.text_area :comment, rows: '5', placeholder: "コメントをここに", class: "form-control", id: "comment_textarea", required: true %>
            </div>
            <div class="mt-2">
              <%= f.submit "送信する", class:"btn" %>
            </div>
          <% end %>          
        </div>
      </div>
      <!-- コメント一覧表示 -->
      <div id="comment_index">
        <%= render 'post_comments/index', post: @post %>
      </div>
    </div>    
  </div>

</div>
<%= javascript_pack_tag 'map', 'data-turbolinks-track': 'reload' %>