<!DOCTYPE html>
<html>
  <head>
    <title>生き物マップ</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    
    <script src="https://kit.fontawesome.com/1dbb4bab62.js" crossorigin="anonymous"></script>
    
    <!-- cssはpackで管理するよりもassetsで管理する方が読み込みが速かった -->
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <header>
    <% if user_signed_in? %>
      <li>
        <%= link_to '投稿フォーム', new_post_path, "data-turbolinks": false%>
      </li>
      <li>
        <%= link_to 'マイページ', user_path(current_user.id) %>    
      </li>
      <li>
        <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
      </li>
    <% else %>
      <li>
        <%= link_to "新規登録", new_user_registration_path %>
      </li>
      <li>
        <%= link_to "ログイン", new_user_session_path %>
      </li>
    <% end %>
  </header>
    <%= yield %>
  <footer>
    <p class="footer-copyright">Copyright © takokke. All Rights Reserved.</p>
  </footer>
  </body>
</html>
